[core]
	autocrlf = input
	editor = nvim
	pager = diff-so-fancy | less --RAW-CONTROL-CHARS --no-init --tabs=2
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = true
[commit]
	verbose = 1
[push]
	default = simple
	autoSetupRemote = true
[alias]
	fixuphead = commit --fixup=HEAD
	logx = log --graph --pretty=format:'%w(83)%C(auto)%h %C(yellow)%C(bold)%G?%Creset%C(auto)% an (%ar):% s%n%-d'
	logxall = logx --all
	logxmaster = logx master..
	logxnofixup = logx --grep=fixup --invert-grep
	logxnofixupmaster = logxnofixup master..
	logxoriginhead = logx origin/HEAD..
	co = checkout
	staged = diff --staged
	diffx = diff --word-diff=color
	whatchangedx = whatchanged --oneline --graph
	ahead = log --branches --not --remotes --simplify-by-decoration --decorate --oneline
	addx = add -N .
	addn = add -N
	s = status
	p = add -p
	append = commit --amend --no-edit
	prune-features = !git checkout develop && \
		git pull && \
		git branch --merged | grep feature/ | xargs -r git branch -d && \
		echo "Remaining branches:" && \
		git branch
	conflicts = diff --name-only --diff-filter=U
	prune-branches = !git pull --all --prune && git branch --merged | grep -vE "^\\\\*" | xargs -L1 git branch -d
	; fetch and prune all branches, pull current branch, prune merged branches
	prunex = "!sh -c 'git fetch --all --prune && git pull --quiet && export BRANCHES_TO_DELETE=$(git branch --merged | grep -Ev \"^\\*\"); if [ -n \"$BRANCHES_TO_DELETE\" ]; then git branch --delete $BRANCHES_TO_DELETE; fi'"
	maintenance-register-local = !git maintenance register --config-file ~/.gitconfig.local

[user]
	email = palsivertsen@gmail.com
	name = Pål Sivertsen
[pull]
	ff = only
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[merge]
	tool = nvimdiff
	conflictStyle = zdiff3
[mergetool]
	keepBackup = false
	writeToTemp = true
[rebase]
	autoSquash = true
[init]
	defaultBranch = main
[diff]
	tool = nvimdiff
[rerere]
	enabled = true

[include]
	path = ~/.gitconfig.local
[interactive]
	singlekey = true
