# https://tiswww.case.edu/php/chet/readline/readline.html#SEC9

set editing-mode vi
set colored-stats On
set completion-ignore-case On
set mark-symlinked-directories On
set mark-directories On
set visible-stats On
set show-mode-in-prompt On
set vi-ins-mode-string "i"
set vi-cmd-mode-string "c"
set colored-completion-prefix On
set print-completions-horizontally On

# menu-complete
set menu-complete-display-prefix On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set completion-query-items 250

set keymap vi-insert
TAB:menu-complete
"\C-p":history-search-backward
"\C-n":history-search-forward
"\C-o":operate-and-get-next
"\C-f":forward-search-history
"\C-l":clear-screen
